h1{
    color:black;
    background-color:green;
    text-align: center;
}
nav{
display: inline-block;
text-align: center;
}

a{
    display: inline;
    margin: 1 auto;

}
img{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 50%;
    height: 20px;
